.circulo {
	width: 200px;
	height: 200px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
}

.circulo:hover {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	position: relative;
    z-index: 1;
    
}

.circulo:not(:hover){
	position: relative;
   z-index: 0;
}

.circulo2 {
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 25%;
}

.size-icon {
	margin-top: 25px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 25px;
	color: white;
}
